.default {
  --color1: #e98888;
  --color2: #3498db;
  --n1: #333;
  --n2: #444;
  --n3: #555;
  --font: #aaa;
}

.development {
  --color1: #ffa500;
  --color2: #27ae60;
  --n1: #222;
  --n2: #333;
  --n3: #444;
  --font: #ddd;
}