@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Slab&display=swap');

:root {
    --main: #e98888;
    --light: #e6c3c3;
    --link: #eea5a5;
    --bg: #ffffff;
    --text: #000000;
    --othertext: #000000;
    --pn: #000000;
    --border: #e8e8e8;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Slab', serif;
    color: var(--text);
    background-repeat: repeat;
    background-color: var(--bg);
}

.flexbox {
    padding: 10px;
}

@media only screen and (min-width: 450px) {
    .flexbox {
        display: flex;
        align-items: flex-start;
        width: 440px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (min-width: 600px) {
   table.finalschedule {
        width:600px;
    }
}

#pdfschedule {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: none;
    width: 90vw;
    height: 90vh;
    margin-top: 3vh;
}

.title {
    text-align: center;
}

table {
    background-color: var(--bg);
    border-collapse: collapse;
    border-width: 2px;
    border-color: var(--border);
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

table.schedule {
    width: 200px;
}

table td,
table th {
    border-width: 2px;
    border-color: var(--border);
    border-style: solid;
    padding: 10px;
    position: relative;
}

table.finalschedule > tbody > tr > td {
    padding: 0;
}

table.finalschedule > thead > tr > td {
    padding: 3px;
}

table td.lunch {
    padding: 0;
    max-width: 15%;
    width: auto;
}

table td.dash {
    width: 37.5%;
}

table thead {
    background-color: var(--border);
}

td.se-filler {
    background-color: var(--border);
}

.pn {
    font-family: 'Anton', sans-serif;
    font-size: 20pt;
    vertical-align: middle;
    text-align: left;
    width: 50%;
    position: relative;
    z-index: 1;
    color: var(--pn);
}

.pt {
    vertical-align: middle;
    text-align: right;
    width: 50%;
    position: relative;
    z-index: 1;
}

.ln {
    font-size: 8pt;
    font-weight: bold;
    vertical-align: middle;
    text-align: right;
    width: 50%;
    position: relative;
    z-index: 1;
    color: var(--pn);
    white-space: nowrap;
}

.pcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.footer {
    text-align: center;
    font-size: 10pt;
    margin-top: 20px;
}

.current-period-full {
    background-color: var(--main);
}

.current-period-lb {
    background-color: var(--light);
}

.schedulecontainer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.loading-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main);
    transition: height 2s linear;
    z-index: 0;
}

a {
    color: var(--othertext);
}

a:visited {
    color: var(--link);
}

.hidden {
    display: none !important;
}

#subtitle {
    color: var(--othertext);
}

.loading {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    z-index: 1000;
    text-align: center;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid var(--main);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 20% auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
